/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


 /* logo container, faux vertical centering */
#region-branding {
	padding-top:15px;
}
#region-branding .logo-img img {
	height: 110px;
}



/* Main Menu Styles */
div.region-menu {
}
ul#superfish-1 a {
	font-size: 18px;
}
ul#superfish-1 li.sf-depth-1 {
  height: 46px;
	line-height: 46px;
	width: 144px;
}

ul#superfish-1 li.sf-depth-1 ul {
	top: 48px;
	width: 144px;
}


/* fields on content, general styles */
.field-label-above .field-label {
	width:11em;	
}
	
	
/* fields on content, specific fields */
#block-system-main .field-name-field-image, #block-system-main .field-name-field-image img {
	width:300px;
}

#block-system-main .content-with-image .field-name-field-date, #block-system-main .content-with-image .field-name-field-location, #block-system-main .content-with-image .field-name-field-cost {
	float:right;
	clear:right;
	width:290px;
	margin-left:10px;
} 
#block-system-main .node-event .content-with-image .field-name-body {
	clear:both;
}


/* view block lists */
.front #region-content .block-views, #region-sidebar-first .block-views, #region-content .block-c4-relations-block .block-views {
	width:300px;
	display:inline-block;
	vertical-align:top;	
}

#region-sidebar-first .block-views .node-teaser h2.node-title, 
#region-sidebar-first .block-views .node-teaser .field-type-taxonomy-term-reference:first-child {
	clear:none;
	width:auto;
}

#region-sidebar-first .block-views .node-teaser .teaser-image {
	margin-bottom:0;
}

/* images */
/* aiming for lists that are not in block columns */
#region-content .node-teaser .teaser-image, #region-content .node-teaser .teaser-image img {
	width:150px;
}
/* aiming for lists that in restricted columns for teaser + mini feature teaser */
.front #region-content .node-teaser .teaser-image, .front #region-content .node-teaser .teaser-image img, .node-type-categorization #region-content .node-teaser .teaser-image, .node-type-categorization #region-content .node-teaser .teaser-image img, .node-type-initiative #region-content .node-teaser .teaser-image, .node-type-initiative #region-content .node-teaser .teaser-image img, .node-type-issue #region-content .node-teaser .teaser-image, .node-type-issue #region-content .node-teaser .teaser-image img, .node-type-member-organization #region-content .node-teaser .teaser-image, .node-type-member-organization #region-content .node-teaser .teaser-image img, #region-sidebar-first .node-teaser .teaser-image, #region-sidebar-first .node-teaser .teaser-image img  {
	width:150px;
	clear:none;
}

.feature_mini_teaser .teaser-image, .feature_mini_teaser .teaser-image img {
	width:60px;
}

.feature_teaser .teaser-image, .feature_teaser .teaser-image img {
	width:300px;
}


/* relations meta-blocks on profile pages */
.block-c4-relations-block .listCol1,
.block-c4-relations-block .listCol2 {
	float: left;
	list-style: none;
}
.block-c4-relations-block .listCol2 {
	padding-left:18px;
}


/* gallery fields */
.galleryformatter-ushrn {
  width: 592px;
}

.galleryformatter-ushrn .gallery-slides,
.galleryformatter-ushrn .gallery-slides li,
.galleryformatter-ushrn .gallery-thumbs {
  width: 500px;
}

.galleryformatter-ushrn .gallery-slides,
.galleryformatter-ushrn .gallery-slides li {
  height: 312px;
}

.galleryformatter-ushrn .gallery-thumbs {
	padding: 0 46px;
}

.galleryformatter-ushrn .gallery-thumbs li {
	width: 121px;
	height: 101px;
}

.galleryformatter-ushrn .gallery-thumbs .arrow,
.galleryformatter-ushrn .slide-button,
.galleryformatter-ushrn .view-full {
  height: 43px;
  width: 46px;
}

.galleryformatter-ushrn .gallery-thumbs .forward,
.galleryformatter-ushrn .next-slide {
  background-position: center 0px;
}

.galleryformatter-ushrn .gallery-thumbs .forward:hover { 
  background-position: center -46px; 
}

.galleryformatter-ushrn .gallery-thumbs .back,
.galleryformatter-ushrn .prev-slide {
  background-position: center -92px;
}

.galleryformatter-ushrn .gallery-thumbs .back:hover {
  background-position: center -143px;
}

.galleryformatter-ushrn .view-full {
  background-position:center -188px;
  margin:10px;
}

.galleryformatter-ushrn a:hover .view-full {
  background-position: center -231px;
}


/* homepage slideshow */

body.front #block-system-main {
	float:right;
	margin: 10px 0;
}

.view-id-homepage_slideshow{
  position: relative;
}

.view-id-homepage_slideshow .views-slideshow-controls-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 200;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 5px;
}

.view-id-homepage_slideshow .views-slideshow-controls-bottom {
  width: 135px;
}

.view-id-homepage_slideshow .views-slideshow-controls-bottom .views-slideshow-pager-field-item{
  line-height: 100%;
  padding: 3px 5px;
}

/* homepage blocks */

#homepage-mission-block-row {
	width:880px;
}

body.front .our-work-block,
body.front .about-us-block, 
body.front .members-block
{
	height:123px;
}

body.front #block-block-3 {
	width:310px;
	height: 310px;
	line-height:20px;
	font-size:17px;
	position: relative;
	float: left;
	background-position: center -155px;
}

body.front #block-block-3 .mission-block{
}

/* join sidebar */

#join-banner{
  padding: 0;
}

#block-block-7 #join-banner {
  padding: 5px;
}

body.front #block-block-6{
  display: block;
  width: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #999;
  -moz-box-shadow: 0 10px 12px -6px #333;
  -webkit-box-shadow: 0 10px 12px -6px #333;
  box-shadow: 0 10px 12px -6px #333;
  display: inline-block;
  width: 100%;
  z-index: 2;
}

body.front #block-block-6 {
  height: 63px;
  background: url(../images/join-bg-full.jpg) left top no-repeat;
}

body.front #block-block-6 h3,
#block-block-7 h3 {
	color:#07075d;
	font-size:25px;
}

body.front #block-block-6 h3{
	display: inline-block;
	height: 63px;
	line-height: 63px;
	margin: 0 25px 0 0;
	padding: 0;
	vertical-align: middle;
}

#block-block-7 h3 {
	text-align: center;
}

#join-banner a{
  margin: 0 5px;
  width: 13%;
  height: 35px;
  line-height: 35px;
  font-size: .9em;
  font-weight: bold;
}

#block-block-7 #join-banner a{
  width: 35%;
  font-size: 14px;
  font-weight: normal;
  margin: 8px;
}

body.front #block-block-5 {
  margin-top: -5px;
  padding-top: 5px;
}	

.front #region-content #block-views-home-promoted-content-block-1 {
	margin:0 10px 0 14px
}
.front #region-content .block-views {
	margin-bottom:0;
}

/* join sidebar */

#join-sidebar a {
	width:110px;
	font-size:16px;
}

.join-sidebar-text {
	font-size:24px;
}

#join-sidebar .join-donate-inner {

}

/* footer adjustments */

#region-postscript-first {
	width: 620px;
}

#region-postscript-first .block-menu-block-6 {
	width:620px;
}

#region-postscript-first .menu-block-6 ul li.menu-mlid-863 {
	margin-top:0px;
}

#block-menu-menu-home-contact-join-footer-me {
	width: 620px;
	margin: 0px;
} 

#region-postscript-second {
	width: 300px;
}

/* pagers */
.item-list ul.pager {
	margin-bottom: 20px;
}

.item-list .pager li {
	margin:0px 3px;
}

.pager li.pager-first,
.pager li.pager-previous,
.pager li.pager-next,
.pager li.pager-last {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
}

.pager li.pager-previous {
	margin-right:3px;
}

.pager li.pager-ellipsis {
  margin: 15px -5px 0;
}

.pager li.pager-current, 
.pager li a {
	padding: 8px 12px;
}

.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a, 
.pager li.pager-last a {
	width:40px;
}

.feed-icon {
	margin-top:0px;
}


/* Share This */
.share-buttons {
	margin: 0 10px;
	width: 928px;
}


/* form fields - salsa donation forms */
#zone-content .donation #right_container {
	float:left;
	width:40%;
}
#zone-content .donation #left_container {
	float:left;
	width:50%;
}
#zone-content .salsa .orderform #left_container {
	float: left;
	clear: none;
	margin-right:10px;
	width:50%;
}

