html {
  background: @brand-primary url(../images/kboo-bg.jpg) repeat-x center top fixed;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: none;

  &.cke_editable,
  &.cke_ltr {
    background: @white;
  }
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.clear {
  clear: both;
}

:focus,
:active,
:active:focus,
.btn:focus,
.btn:active:focus {
  outline: none;
}

::-moz-focus-inner {
  border:0;
}

#admin-menu {
  z-index: @zindex-navbar-fixed + 50;
}

a {
  color: @brand-primary;
}