.navbar {
  border: none;
  height: 85px;
  position: relative;

  &.navbar-default {
    background-color: @brand-info;
    border-bottom: 3px solid @white;

    .logo.navbar-btn {
      margin-top: 0px;
      margin-bottom: @margin-xs;
    }
  }

  .btn {
    border-radius: 0px;
    background-color: @red;
    color: @brand-warning;

    &:hover {
      background-color: darken(@red, 5%);
    }
  }

  .on-air {
    position: absolute;
    left: 340px;
    top: 10px;
    margin: 0px;
  }

  .listen-now-btn {
    position: absolute;
    left: 220px;
  }

  .donate-btn {
    position: absolute;
    right: 20px;
    top: 0px;

    @media (max-width: @screen-md-min) {
      display: none;
    }
  }
}