#main-body {
  background-color: fade(@white, 85%);
  padding: @pad @pad-md;
  @media (min-width: @screen-sm-min) {
    width: 72%;
  }  
} 

hr {
  border-top-color: @light-blue;
}

.label {
  color: @gray-dark;
}

.node {
  .node-images {
    float: right;
    max-width: 300px;
    margin-left: @margin-sm;

    @media (max-width: @screen-sm-max) {
      float: none;
      max-width: 100%;
      margin-left: 0px;
    }
  }

  .field-name-field-lead-image {
    float: right;
    margin: 0px 0px @margin-sm @margin-sm;
    clear: both;

    @media (max-width: @screen-sm-max) {
      float: none;
      clear: none;
      margin: @margin-xs;
      text-align: center;
    }

    @media (max-width: 400px) {
      img {
        max-width: 100%;
      }
    }
  }

  .field-name-field-more-images {
    margin: @margin-sm 0px @margin-sm @margin-sm;
    float: right;
    clear: both;

    @media (min-width: @screen-md-min) {
      width: 290px;
      text-align: center;
    }

    @media (max-width: @screen-sm-max) {
      float: none;
      text-align: center;
    }

    img {
      padding: @pad-sm 0px;
    }
  }

  .field-label-inline .field-items {
  }

  &.node-webform {
    .form-item {
      margin-bottom: @margin;
    }

    .webform-component-fieldset {
      border: none;
      background-color: @gray-lighter;

      .panel-heading,
      .help-block {
        border: none;
        font-family: @headings-font-family;
        background-color: @gray-lighter;
        color: @gray;
        margin-bottom: @margin-sm;
        font-size: 16px;

        .panel-title,
        .help-block {
          border-bottom: 2px solid @gray;
          padding-bottom: @pad-sm;
        }
      }
    }
  }

  .book-navigation {
    .page-links {
      padding: @pad-lg 0px @pad-xl;

      a {
        &.page-up {
          padding: 0 @pad-xl;
        }
      }
    }
  }
}  

.node-unpublished,
.comment-unpublished {
  background: @lighter-red url(../images/unpublished.gif) no-repeat 50% 50px;
}

#webform-components-form {
  .form-type-textfield {
    margin-left: @margin-md;
  }
}

.field-label-inline.clearfix:after,
div.addressfield-container-inline::after {
  clear: left;
}

.radio, 
.checkbox {
  margin-top: -1px;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
  margin-left: 0px;
}

.playlists {
  .table-condensed {
    > thead > tr > th, 
    > tbody > tr > th, 
    > tfoot > tr > th, 
    > thead > tr > td, 
    > tbody > tr > td, 
    > tfoot > tr > td {
      @media (max-width: @screen-sm-max) {
        max-width: 140px;
      }  
    }
  }  
}