.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.clear {
  clear: both;
}

:focus,
:active,
:active:focus,
.btn:focus,
.btn:active:focus {
  outline: none;
}

::-moz-focus-inner {
  border:0;
}